@charset "UTF-8";

@font-face {
    font-family: 'league spartan';
    src: url('../fonte/league-spartan.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --azul-primario: #0d121e;
    --azul-secundario: #080b16;
    --laranja-claro: #f0b35b;
    --branco-padrao: #fff;
    --branco-secundario: #fafafa;
}

html {
    box-sizing: border-box;
}

h1, h2, h3  {
    font-family: 'Quicksand';
}

p, a {
    font-family: 'Open Sans';
}

body {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    display: flex;
    background-color: var(--azul-secundario);
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
}

.logo {
    width: 100px;
    height: 50px;
}

button {
    background-color: var(--laranja-claro);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


button img {
    width: 16px;
    padding: 0px 5px;
}


#menu-mobile {
    color: var(--laranja-claro);
    cursor: pointer;
    font-size: 28px;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    position: absolute;
    margin-top: 30px;
    width: 80px;
    background-color: var(--azul-secundario);
    line-height: 60px;
    list-style: none;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
}


nav a {
    text-decoration: none;
    color: var(--laranja-claro);
}

#menuescondido {
    display: none;
}


/* Seção Pincipal */

.main-section {
    background: linear-gradient(#080b16,  #080b16dc, #080b16) , url(../imagens/background.jpg) no-repeat center center;
    background-size: cover;
    height: 50vh;
    color: var(--branco-secundario);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.estilo-wpp-flutuante {
    width: 36px;
    position: fixed;
    top: 92%;
    left: 88%;
    filter: drop-shadow(1px 1px 3px black);
}

/* Sobre */
.sobre-imagens {
    background-color: #080b16;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-imagens img{
    width: 120px;
}

#ajuste-img-sobre {
    margin-bottom: -40px;
    position: relative;
}

.sobre-imagens-2 {
    display: flex;
}

.sobre-imagens-3 {
    width: 200px;
}

.sobre-imagens-3 img {
    width: 160px;
}

.about {
    display: flex;
    flex-direction: column;
    background-color: #080b16;
    color: var(--branco-secundario);
    padding: 20px;
}

.about p{
    font-size: 12px;
}

.negrito {
    font-weight: bolder;
}

/* Serviços */

.servicos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.servicos p {
    font-size: 12px;
}

.ajuste-servicos {
    display: flex;
    flex-direction: column      ;
}

.servicos-disponiveis {
    width: 200px;
    margin: 20px 0px;
    box-shadow: 3px 3px 10px black;
    border-radius: 5px;
    overflow: hidden;
}

.ajuste-preco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 8px;
    padding: 0px 5px;
    line-height: 2px;
    font-weight: bolder;
}

.estilo-preco {
    display: flex;
    align-items: center;
    color: var(--branco-padrao);
    background-color: var(--azul-secundario);
    padding: 2px;
    height: 12px;
    border-radius: 5px;
}


.img-corte {
    height: 200px;
    width: 200px;
    background: url(../imagens/servico/servico-corte.jpg) no-repeat right center;
    background-size: cover;
}

.img-barba {
    height: 200px;
    width: 200px;
    background: url(../imagens/servico/servico-barba.jpg) no-repeat center center;
    background-size: cover;
}

.img-corte-barba {
    height: 200px;
    width: 200px;
    background: url(../imagens/servico/servico-corte-e-barba.jpg) no-repeat center center;
    background-size: cover;
}

/* Equipe */

.equipe {
    background: linear-gradient(#080b16,  #0d121e, #080b16);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipe h2 {
    color: var(--laranja-claro);
}

.img-equipe {
    width: 250px;
    height: 300px;
    margin: 25px 0px;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

.img-equipe p {
    font-weight: bold;
    color: var(--laranja-claro);
    text-shadow: 1px 1px 1px black;
}

.img-equipe-1 {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.744)), url(../imagens/barbeiro/barbeiro-1.jpg) no-repeat center center;
    background-size: cover;
}

.img-equipe-2 {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.744)),url(../imagens/barbeiro/barbeiro-2.jpg) no-repeat center center;
    background-size: cover;
}

.img-equipe-3 {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.744)),url(../imagens/barbeiro/barbeiro-3.jpg) no-repeat center center;
    background-size: cover;
}

/* Unidades */

.unidades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-endereco {
    width: 250px;
    height: 350px;
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    line-height: 1px;
    font-size: 12px;
    color: white;
    font-weight: bolder;
}

.fonte {
    font-weight: lighter;
    padding-bottom: 10px;
}

.endereco-1 {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.744)), url(../imagens/endereco/endereco-1.jpg) no-repeat center center;
    background-size: cover;
}

.endereco-2 {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.744)), url(../imagens/endereco/endereco-2.jpg) no-repeat center center;
    background-size: cover;
}

/* Footer */

footer {
    text-align: center;
}

footer img {
    width: 16px;
    padding: 0px 5px;
}

.logo-azul {
    width: 250px;
    height: 125px;
}


